
@import url('./components/header.css');
@import url('./components/main-section.css');
@import url('./components/slider.css');
@import url('./components/form.css');

@import url('./components/footer.css');

@import url('./components/membros.css');

:root {
    --branco: #FFFFFF;
    --branco-padrao: #E2E3E4;
    --preto: #000000;
    --azul-escuro:#212834;
    --cinza: #4E535D;
    --cinza-claro: #808080;
    --cinza-marrom: #4F4F4F;

    --roxo: rgb(81, 55, 124);

    --fonte-principal: "Helvetica";
    --fonte-secundaria: "sans-serif";
}

body{
    background: url(../imgs/BACKGROUND_TN-ILoveYou.webp) no-repeat;
    background-size: cover;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

a,
a:active,
a:link,
a:visited {
    text-decoration: none;
    font-size: 1.15rem;
    color: var(--branco-padrao);
}

a:hover{
    color: var(--cinza);
    transition: color .2s ease;
}