*{
    margin: 0;
    padding:0;
}

.form{
    font-family: Helvetica,sans-serif;
    color: #FFFFFF;
    margin-left: 7%;
    font-weight: 600;
}

.form-descricao{
    text-align: center;
}

#titulo{
    font-size: 2rem;    
    padding-bottom: .3rem;
}

#subtitulo{
    font-size: 1rem;
}

input, select, textarea, button{
    border-radius: 5px;
}

.form-grupo{
    margin-left: 18.9%;
}

.form-campo{
    margin-bottom: 1rem;
}

.form-campo label{
    margin-bottom: 0.2rem;
    color: #FFFFFF;
}

#nome, #phone{
    padding: .2rem 0 .2rem .3rem;
}

#mensagem{
    padding-top: .8rem;
    padding-left: 1rem;
}

.botao {
    font-size: 1.2em;
    background: gray;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px #4E535D;
    text-shadow: 1px 1px 1px #4E535D;  
    margin-left: 30.9%;
}

.botao:hover {
    background: #6C7078;
    box-shadow: inset 2px 2px 2px #4E535D;
    text-shadow: none;
    transition: color .2s ease;
}

.botao, select{
    cursor: pointer;
}

@media (max-width: 768px) { 

    .form{
        display: none;
    }
    
}