.form{
    font-family: Helvetica,sans-serif;
    color: var(--branco);
    margin-left: 7%;
    font-weight: 600;
    max-width: 960px;
	margin: 0 auto;
}

.form-descricao{
    text-align: center;
}

#titulo{
    font-size: 2rem;    
    padding-bottom: .3rem;

}

#subtitulo{
    font-size: 1rem;
}

input, select, textarea, button{
    border-radius: 5px;
}

.form-grupo{
    margin-left: 18.9%;
}

.form-campo{
    margin-bottom: 1rem;
}

.form-campo label{
    margin-bottom: 0.2rem;
    color: var(--branco);
}

#nome, #phone{
    padding: .2rem 0 .2rem .3rem;
}

#mensagem{
    padding-top: .8rem;
    padding-left: 1rem;
}

.botao {
    font-size: 1.2em;
    background: gray;
    border: 0;
    margin-bottom: 1em;
    color: var(--branco);
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px var(--cinza);
    text-shadow: 1px 1px 1px var(--cinza);  
    margin-left: 30.9%;
}

.botao:hover {
    background: var(--cinza-marrom);
    box-shadow: inset 2px 2px 2px var(--cinza);
    text-shadow: none;
    transition: color .2s ease;
}

.botao, select{
    cursor: pointer;
}

@media (max-width: 768px) { 

    #titulo {
        font-size: 1.5rem; 
        padding-bottom: 0.3rem;
        margin: 0;
    }

    .form-descricao{
        display: flex;
        flex-wrap: wrap;
    }

    .form-grupo {
        margin-left: 2rem;

        display: flex;
        flex-wrap: wrap;
        width: 180px;

        
    }


    .form-campo input{
        margin-top: .5rem;
    }
   
    #mensagem{
        width: 250px;
    }
    
}