.albuns{
    
}

/*---------------------*/

.main-section__one{
    color:aliceblue;
    text-align: center;
}

.main-section__one-theme{
    font-size: 2.2rem;
    padding: .5rem;
}

.main-section__one-text{
    padding: .2rem;    
}

.main-section__one-logo{
    padding: 2rem;
    max-width: 45rem;
    border-radius: 2.5rem;
}

.main-section__one-music{
    margin: 0 5rem 3rem 5rem;
    display: flex;
    padding: 1rem;

}

.spotify{
    padding-right: 2rem;
}

@media (max-width: 768px) { 

    .main-section__one-music{
        margin: 0;    
    }

    .spotify{
        width: 100%;
    }

    .youtube{
        display: none;
    }
    

}
