.main-section__one{
    color: #FFFFFF;
    text-align: center;
    font-weight: 600;
    font-style: normal;

    max-width: 960px;
	margin: 0 auto;
}

.main-section__one-theme{
    font-size: 2.3rem;
    padding: 1.5rem;
}

.main-section__one-text{
    padding: .4rem;    
}

.main-section__one-logo{
    padding: 2rem;
    /*max-width: 45rem;*/
    border-radius: 2.5rem;

    width: 700px;
	margin: 50 20px;
}

.main-section__one-music{
    margin: 0 5rem 3rem 5rem;
    display: flex;
    padding: 1rem;

}

.spotify{
    padding-right: 2rem;
}

@media screen and (max-width: 768px) { 
    .main-section__one-logo{
        width: 300px;
    }

    .main-section__one-music{
        flex-wrap: wrap;
    }

    .spotify{
        width: 100%;
        height: 400px;
        padding: 0rem;
    }


    .youtube{
        padding-top: .8rem;
    }
}
