.main-section__one{
    color: var(--branco);
    text-align: center;
    font-weight: 600;
    font-style: normal;

    max-width: 960px;
	margin: 0 auto;
}

.main-section__one-theme{
    font-size: 2.3rem;
    padding: 1.5rem;
}

.main-section__one-text{
    padding: .4rem;  
    line-height: 1.3rem; 
}

.main-section__one-logo{
    padding: 2rem;
    /*max-width: 45rem;*/
    border-radius: 2.5rem;

    width: 700px;
	margin: 50 20px;
}

.main-section__one-music{
    margin: 0 5rem 3rem 5rem;
    display: flex;
    padding: 1rem;

    flex-wrap: wrap;

}

.spotify{
    padding-right: 2rem;
}

@media screen and (max-width: 797px) { 
    
    a, a:active, a:link, a:visited {
        font-size: 1rem;
        text-decoration: none;
        color: var(--branco-padrao);
    }

    .main-section__one-logo{
        width: 300px;
    }

    .main-section__one-music{
        flex-wrap: wrap;
        margin: .2rem ;
    }

    .spotify{
        width: 100%;
        height: 400px;
        padding: 1.3rem 0rem 0rem 0rem;
    }


    .youtube{
        padding-top: .8rem;
        
    }

    .youtube:nth-child(2){
		order: -2;
	}
	
	.spotify:nth-child(1){
		order: -1;
	}
}

@media screen and (max-width: 1024px) { 
    
    .spotify{
        width: 100%;
        height: 400px;
        padding: 1.3rem 0rem 0rem 0rem;
    }


    .youtube{
        padding-top: 2rem; 
        width: 700px;
        height: 450px;
        
    }

    .youtube:nth-child(2){
		order: -2;
	}
	
	.spotify:nth-child(1){
		order: -1;
	}
    
}

