.main-section__membros{
    color:var(--branco);
    font-weight: 600;
}

.main-section__membros-titulo{
    text-align: center;
    font-size: 2.2rem;
    height: 5rem;
    padding-top: 2rem;

    text-shadow: 2px 09px 5px var(--azul-escuro);
}

.main-section__membro{
    display: flex;    
    align-items: center;

    padding-bottom: 1.5rem;
    padding-left: 16rem;

}

h2,p, a{
    padding: 0 0 .5rem 1rem;
    
}

.main-section__membro-img{
    max-width: 8rem;
    border-radius:  .5rem;
}

.main-section__membro-text{
    text-shadow: 2px 09px 5px var(--azul-escuro);
}

.main-section__membros{
    background: url(../../imgs/background_membros01.jpeg) no-repeat;
    background-size: cover;
}



.fa{
    color:var(--branco);
    
}

.fa:hover{
    font-size: 1.03rem;
    color: var(--cinza);
    transition: color .2s ease;
}

@media (max-width: 768px) { 

    .main-section__membros{
        color: var(--roxo);
    }
    
    .main-section__membro{
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        align-items: center;

        padding-bottom: 1.5rem;
        padding-left: 1rem;
    }
    
}
