a,
a:active,
a:link,
a:visited {
    font-size: 1rem;
    text-decoration: none;
    font-size: 1.15rem;
    color: var(--branco-padrao);
}

a:hover{
    color: var(--cinza);
    transition: color .2s ease;
}

.startPage{
    background-color: var(--preto);
}

.container {
    display:flex;
    align-items: center;
    justify-content: space-between;
    /*max-width: 960px;*/

    height: 100px;

	margin: 0 auto; 
	flex-wrap: wrap;

    border-bottom: 2px solid var(--cinza-marrom);

}

.startPage-main{
    display: flex;
    align-items: center;

}

.startPage-main__logo{
    margin: .5rem;
    max-width: 4rem;
    border-radius: .3rem;
}

.startPage-main__titulo{
    padding-left: .3rem;
    font-size: 2rem;
    color: var(--branco-padrao);

    cursor: default;
}


.startPage-nav__list{
    display: flex;
	flex-wrap: wrap;
}

.startPage-nav__links{
    padding: 20px;
}



@media screen and (max-width: 797px) { 
    .container{
        justify-content: flex-start;
    }

    .startPage-main__logo{
        display: none;
    }
    
    .startPage-main__titulo{
        font-size: 1.2rem;
    }
    
}
