body{
    background: url(../../imgs/BACKGROUND_TN-ILoveYou.webp) no-repeat;
    background-size: cover;
    font-family: Helvetica,Helvetica Neue,Arial,Lucida Grande,sans-serif;
}

.container{
    display:flex;
    justify-content: space-between;
    border-bottom: 2px solid #4F4F4F;
    background: #000000;

    width:100%;
    height: 85px;
   
}

/*-----------------------*/
.startPage-main{
    display: flex;
    align-items: center;
}


.startPage-main__logo{
    margin: .5rem;
    max-width: 4rem;
    border-radius: .3rem;

    padding: 30px;
}

.startPage-main__titulo{
    padding-left: .3rem;
    font-size: 2rem;
    color: #d3d3d3;
    cursor: default;
}
/*-----------------------*/

.startPage-nav{ 
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 0 10rem; 
    margin-right: 4rem;
}   

.startPage-nav__links{
    margin: 2rem;
    font-size: 1rem;
    text-decoration: none;
    font-size: 1.15rem;
    color: #d3d3d3;
}

.startPage-nav__links:hover{
    color: #363636;
    transition: color .2s ease;
}



@media (max-width: 768px) { 
    .startPage-main__logo{
        display: none;
    }

    .startPage-main__titulo{
        font-size: 1.2rem;
    }

    .startPage-nav{
        padding: 0;
        margin: 0;
    }

    .startPage-nav__links{
        margin:1rem;
        font-size: 1rem;
        font-size: .8rem;

    }
}
