body{
    background: url(../../imgs/background_theNeighbourhood.jpg) no-repeat;
    background-size: cover;

}

.container{
    display:flex;
    justify-content: space-between;
    border-bottom: 2px solid #4F4F4F;
    
   
}

/*-----------------------*/
.startPage-main{
    display: flex;
    align-items: center;
}


.startPage-main__logo{
    margin: .5rem;
    max-width: 4rem;
    border-radius: .3rem;
}

.startPage-main__titulo{
    padding-left: .3rem;
    font-size: 2rem;

}
/*-----------------------*/

.startPage-nav{ 
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 0 10rem; 
    margin-right: 4rem;
}   

.startPage-nav__links{
    margin: .6rem;
    font-size: 1rem;
    text-decoration: none;
}